absl-py
aiohttp
aiosignal
annotated-types
anyio
asciidoc
astunparse
async-timeout
attrs
beautifulsoup4
brisque
brotlipy
build
cachetools
certifi
charset-normalizer
click
cmake
contourpy
cycler
dataclasses-json
distlib
dlib
easyocr
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google
greenlet
grpcio
h5py
huggingface-hub
imageio
Jinja2
jsonpatch
jsonpointer
keras
keyboard
kiwisolver
labelImg
langchain
langsmith
lazy_loader
libclang
libsvm
lit
lxml
Markdown
MarkupSafe
marshmallow
matplotlib
mediapipe
mpmath
multidict
mypy-extensions
networkx
ninja
numexpr
numpy
oauthlib
openai
opencv-contrib-python
opencv-python
opt-einsum
packaging
pandas
Pillow
pip-tools
pipenv
platformdirs
pluggy
protobuf
pyasn1
pyasn1-modules
pyclipper
pycosat
pycparser
pydantic
pydantic_core
pyOpenSSL
pyparsing
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
PySocks
pytesseract
python-barcode
python-bidi
python-dateutil
pytz
PyWavelets
PyYAML
pyzbar
regex
requests
requests-oauthlib
rsa
ruamel.yaml
safetensors
scikit-image
scipy
shapely
six
sniffio
sounddevice
soupsieve
# SQLAlchemy
# sympy
# tenacity
# tensorboard
# tensorboard-data-server
# tensorflow
# tensorflow-estimator
# tensorflow-io-gcs-filesystem
# termcolor
# tesserocr
# tifffile
# tokenizers
# toolz
# torch
# torchvision
# tqdm
# transformers
# triton
# typing-inspect
# typing_extensions
# tzdata
# virtualenv
# Werkzeug
# wrapt
# yarl
